.beer-ale-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/ale-beer.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}