.container__indexPage {
  background-color: #FAFAFA !important;
  margin-top: -5rem;
  border-radius: 1.5rem 1.5rem 0 0 !important;
  
}

//   Founders Section
.founders-imgs {
  min-width: 10rem !important;
  max-width: 13rem !important;
  margin: .4rem;
}