.container__indexPage {
    background-color: $white !important;
    padding:          0 0 !important;
    border-radius: 1.5rem 1.5rem 0 0 !important;
    overflow: hidden !important;
    margin-top: -5rem;
    
  }

//   Founders Section
.founders-imgs {
    min-width: 10rem !important;
    max-width: 13rem !important;
    margin: .4rem;
}