.profile-jumbotron {
    background:
    radial-gradient(rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)), 
    url(/beerCheer.jpg);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
}
.profile-search__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $m-size;
}
.profile-search__input {
    border: none !important;
    border-bottom: .2rem solid darken(#6c757d, 10%) !important;
    border-radius: .5rem !important;
    color: $dark-gray;
    margin-right: 1rem;
    max-width: 40rem;
}

.profile__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
    padding: 5rem 0 0 0;
}
.profile-card {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 5rem 2rem;
    border-radius: 10px;
    background-color: $white;
    width: 30rem;
}
.profile-header {
    display: flex;
    flex-direction: row;
    background-color: $dark-gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.profile-img {
    margin: -4rem 1rem 1rem 1rem;
    width: 100px;
    height: 100px;
}
.profile-stats {
    display: flex;
    flex-direction: column;
    padding: .5rem 0 0 .5rem;
}

.profile-number {
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    padding: 0 1rem 0 0;
}

.profile-navigation nav a  {
    color: $dark-gray;
}
.profile-navigation nav a:hover  {
    color: $off-white;
}

.profile-body {
    display: flex;
    flex-direction: column;
    min-height: 8rem;
    padding: .7rem;
}