.ibc-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.ibc-footer-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}