.main-header {
    background:radial-gradient(rgba(10, 13, 180, 0.4), 
        rgba(47, 143, 68, 0.4)), 
        url(/beerClubFounders1.jpg)
        no-repeat;
    background-size: cover;
    background-position: top center;
    box-shadow: inset 0 -10px 11px -10px black;
    color: $white;
    height: $header-height;
}

#optin-form {
    max-width: 300px;
    padding: 10px 0 0 0;
}