//----- Font ----- 
$lead-font-size: 1.9rem;
$lead-font-weight: 400;
//----- Spacing ------
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
//----- Colors ------
$white: #ffffff;
$off-black: #20222b;
$off-white: #a5afd7;
$light-gray: #cecece;
$light-blue: #464b5e;
$dark-blue: #333745;
$dark-gray: #3B3D40;
//$blue: #3c4251;
$purple: #8357c5;
$link-color: #ececec;
// Navbar
$navbar-dark-brand-color: $white;
$navbar-brand-font-size: $m-size;
// Header
$header-height: 40vh;