.beer-cheer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    background:radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url(/beerCheer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
}

.indent {
    font-family: adobe-garamond-pro,serif;
    text-rendering: optimizeLegibility;
    text-indent: 50px;
    font-size:   $lead-font-size;
    line-height: 1.58;
    font-weight: $lead-font-weight;
  }