.figure-img {
    width: 255px;
    height: 322px;
  }
strong {
    font-weight: 500;
}

.section {
    background-color: $white;
    min-height: 400px;
}

.founders-imgs {
    min-width: 20rem !important;
    max-width: 27rem !important;
}