@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Sansita+Swashed&display=swap');

/* Univeral reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #f6f6f6;
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
    max-width: 100%;
}

.navbar-transparent {
	background: rgba(52, 58, 64, .9);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 
	0 2px 10px 0 rgba(0,0,0,.12);
}

.fluff {
    margin-top: 5%;
    margin-bottom: 30px;
}

.login-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 72px);
    background-color: #f5f5f5;
}

.login-form {
    text-align: center !important;
    border-radius: 1.3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    max-width: 400px;
}

.login-logo {
    display: block;
    margin: 0px auto 20px;
    width: 70%;
}

.login-button {
    background-color: #4b5b52;
}

.dropdown-menu a:hover {
    background: #898d89;
}

.main-icon:hover {
    cursor: pointer;
}

.landing-bg {
    justify-content: center;
    margin-top: -73;
	height: 100vh;
	background-image: linear-gradient(45deg, rgba(42, 27, 161, 0.6),
	 rgba(29, 210, 177, 0.6) 100%),
	 url(/public/beerClubFounders1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.landing-logo {
    width: 30vw;
}

.landing-text {
    font-family: 'Roboto Slab', serif;
    color: ivory;
    margin-top: 5%;
}

.landing-sub-text {
    font-family: 'Poppins', sans-serif;
    color: ivory;
}

.landing-optin {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header{
    background-image: linear-gradient(45deg, rgba(42, 27, 161, 0.6),
    rgba(29, 210, 177, 0.6) 100%),
    url(/public/beer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.negitive {
    margin-top: -100px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
.profile-card {
    border-radius: .3rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 100px;
    padding: 0px;
    margin-bottom: 50px;
}
.profile-header{
    width: 100%;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin-left: inherit;
    margin-right: inherit;
    background-image: linear-gradient(90deg, rgba(240,190,96,0.7) 35%,
     rgba(255,226,0,0.7) 100%),
    url(/public/beer-bubbles.jpg);
    background-position: center top;
}
.profile-header-text{
    color: white;
    padding-top: 5px;
    font-size: 1.3rem;
}
  
.profile-img {
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.profile-bio {
    padding: 5px 8px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */