* {
  box-sizing: border-box;
}
html, body {
  padding: 0 0 0 0;
  margin: 78px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $light-gray !important;
}

//---- Backgrounds & Shadows
.bg-light-gray {
  background-color: $light-gray;
}

//---- Typography

p {
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-weight: $lead-font-weight;
}

strong {
  font-weight: 500;
}

.blue-link a {
  color: blue !important;
}
.indent {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-rendering: optimizeLegibility;
  text-indent: 50px;
  line-height: 1.58;
}

.t-fluff {
  padding: 20px 0 0 0;
}
.b-fluff {
  padding: 0 0 20px 0;
}

.h-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:100%;
  border-top:1px solid #e2e3e5;
 }

.btn-xxl {
  margin: 1rem;
  padding: 1rem 2rem !important;
  font-size: $m-size !important;
}